*{
    border-radius: 10px;
}
body{
    background-image: url(../img/bg-intro-desktop.png) ;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    background-color: rgba(255, 16, 88, 0.65);
    display: inline-flex;
    margin: 5%;
    align-items: center;
    text-align: center;
}
.sideText{
    width: 50%;
    margin: 20px;
    text-align: left;
    color: aliceblue;
}

.data-request{
    margin: 20px;
    width: 50%;
}
.anuncio {
    background-color: blueviolet;
    color: aliceblue;
    padding: 2% 0px 2% 0px;
    text-align: center;
}
.data-form {
    background-color: aliceblue;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
.data-form input {
    width: 90%;
    margin: 5px;
    height: 30px;
}
.badInput {
    border: 4px red solid;
}
.alert {
    color: red;
    display: flex;
    justify-content: flex-end;
}
.alert p {
    margin: 0px 5% 0px 5px;
}
.hiden {
    display: none;
}
.btn {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    color: aliceblue;
    background-color: green;
    transition-duration: 0.25s;
}
.btn:hover {
    transform: scale(1.1);
}
.terminos{
    color:grey;
    font-size: 10px;
}
.terminos a {
    text-decoration: none;
}
.terminos strong {
    color: brown;;
}
@media screen and (max-width: 700px) {
    body{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .sideText{
        flex-direction: column;
        width: 100%;
        margin: 20px;
    }
    .data-request{
        width: 100%;
        margin: 20px;
        
    }
    
}